name: PagePick CI Check

on:
  push:
    branches: [main, develop]
  pull request:
    branches: [main, develop]

jobs:
  lint-and-type-check:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.jobs
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: "npm"

    - name: TypeScript Check
      run: npx tsc --noEmit

    - name: Lint Check
      run: npx eslint
